#div1{
  background-color:red;
  width: 600px;
  height: 150px;

}

#div2{
  background-color: yellowgreen;
  width: 600px;
  height: 150px;
  padding: 50px;
  border: 1px solid black;
  box-sizing: border-box;

}